@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:disabled {
        color: oklch(var(--p)) !important; /* DaisyUI: text primary color  */
        font-weight: 600;
    }
}
